// Here you can add other styles
.blacktheme{
    background-color: rgb(52,76,252);  
    
}
.xinerjilogo{
    width: 180px;
    margin-bottom: 10px;      
}
.butonSize{
    width: 200px;
}
.circularLandscape{
    width: 128px;
    height: 128px;
    object-fit: cover;
    border-radius: 50%;
    border: solid 4px rgb(168, 168, 168);
}
.backCard{
    background-color: rgb(248, 248, 248);
    border: solid 2px rgb(17, 17, 17);
}
